<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/assignment3python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#perform division on two numbers and use floor division to get the integer result

num1 = 10
num2 = 2
result = num1 / num2
print(result)

result_in_int = num1//num2
print(result_in_int)

5.0
5

In [ ]:
#compare two floating point numbers using == to check if they are approximately equal. Consider using round() for comparison

x = 15.3
y= 15.0
rounded_x = round(x)
rounded_y = round(y)

print(rounded_x)
print(rounded_y)

rounded_x == rounded_y

15
15

True

In [ ]:
#given two boolean variables, use and and or to determine all possible outcomes

x = True
y = False

print(x and y)
print(x or y)

False
True

In [ ]:
#Use the bitwise OR(|) operator to combine two integer values

x = 5
y = 3
result = x | y
print(result)

7

In [ ]:
#Conctenate two strings without using the + operator

str1 = "Hello"
str2 = "World"
" ".join([str1,str2])

'Hello World'

In [ ]:
#Format a string using f - strings to include variables within the string

name = "Alice"
age = 20
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 20 years old

In [ ]:
#slice a string to extract the first three characters

str1 = "Hello"
str1[:3]

'Hel'

In [ ]:
#Convert a string like "123" into an integer using int()

str1 = "1234"
str2 = int(str1)

print(str2)
print(type(str2))

1234
<class 'int'>

In [ ]:
#access the value of a key from a nested dictionary

dict1 = {"alphabets":{"a":"apple","b":"ball"},"numbers":{"one":1,"two":2}}
print(dict1["alphabets"])
print(dict1["numbers"])

{'a': 'apple', 'b': 'ball'}
{'one': 1, 'two': 2}

In [ ]:
#access the last element of a list using negative indexing

lst = [1,2,3,4,5,6]
lst[-1]

6

In [ ]:
#slice a list to get every second element from start to the end

lst = [1,2,3,4,5,6]
lst[::2]

[1, 3, 5]

In [ ]:
#concatenate two lists using the + operator

lst1 = [1,3,4]
lst2 = [5,6,7]
lst1 + lst2

[1, 3, 4, 5, 6, 7]

In [ ]:
#replicate the elements of list 3 times using the * operator

lst1 = [1,3,4]
lst1 * 3

[1, 3, 4, 1, 3, 4, 1, 3, 4]

In [ ]:
#check if an element exists in the list using in operator

lst1 = [1,3,4]
print(2 in lst1)
print(3 in lst1)

False
True

In [ ]:
#sort a list in ascending order using the sorted()

lst = [1,48,4,38,84,748,75]
sorted(lst, reverse = False)

[1, 4, 38, 48, 75, 84, 748]

In [ ]:
#Retrieve the index of the first occurrence of a value in a list using the index method

list1 = ['a','b','c','d','b']
list1.index('b')

1

In [ ]:
#Access a sublist by slicing from the second element to the fourth element(inclusive)

lst = [1,23,45,7,6,5,4,32,4]
lst[1:5]

[23, 45, 7, 6]

In [ ]:
#determine the number of elements in a list using the len() function

lst = [1,23,45,7,6,5,4,32,4]
len(lst)

9

In [ ]:
#combine multiple lists into a single list using list unpacking

lst1 = [1,2,3]
lst2 = [4,5,6]
lst3 = [7,8,9]

combined_list = [*lst1,*lst2,*lst3]
print(combined_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#create a tuple from a list using tuple()

lst = [1,2,3,4,5]
t = tuple(lst)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
#access the third element in a tuple

t = (1,2,3,4,5)
t[2]

3

In [ ]:
#Replicate a tuple multiple times using * operator

t = (1,2,3,4,5)
t * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#check if a value is present in tuple using in operator

t = (1,2,3,4,5)
print(2 in t)
print(6 in t)

True
False

In [ ]:
#Retrieve all keys from a dictionary using the keys() method

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [ ]:
#retrieve all the values from dictionary using the values() method

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict1.values()

dict_values([1, 2, 3, 4])

In [ ]:
#update the value of a key in a dictionary using the assignment

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict1['a'] = 10
print(dict1)

{'a': 10, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#subtract two numbers and then raise the result to the power of three using the ** operator

x = 10
y = 5
z = x - y
print(z)
print(z**3)

5
125

In [ ]:
#given two strings, check if one string is greater than the other using the > operator

str1 = "hello"
str2 = "Hey"
str1 > str2

True

In [ ]:
#combine three conditions using and, or, and not to evaluate whether a specific combination of boolean is true

x = True
y = False

print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

In [ ]:
#create a dictionary and use all the built in functions

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict2 = {'e': 5, 'f': 6}

print(len(dict1))
print(len(dict2))

print(dict1.get('e',['invalid key']))

print(dict1.keys())

print(dict1.values())

print(dict1.items())

print(dict1.update(dict2))
print(dict1)

print(dict1.pop('a'))
print(dict1)

print(dict1.clear())
print(dict1)

4
2
['invalid key']
dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 2, 3, 4])
dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])
None
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
1
{'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
None
{}