<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/practicefor_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str1 = "hello"
for i in str1:
  print(i)

h
e
l
l
o

In [4]:
num = 22
for i in range(num, 0 , -1):
 print(i*2)

44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [6]:
lst1 = [1,2,3,4]
for i in lst1:
  print(i**3)

1
8
27
64

In [9]:
t = (44,34,56,37)
for i in t:
  print (i%2)

0
0
0
1

In [11]:
dict1 = {'a': 1, 'b' : 2, 'c' : 3}
for keys in dict1.keys():
  print(keys)

a
b
c

In [12]:
for values in dict1.values():
  print(values)

1
2
3

In [13]:
for items in dict1.items():
  print(items)

('a', 1)
('b', 2)
('c', 3)

In [14]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7}
for union in set1.union(set2):
  print(union)

1
2
3
4
5
6
7