<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/python_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#python script to compare two numbers

a = 10
b = 15

if a < b:
  print("True")
else:
  print("False")

True

In [5]:
from re import X
#python script to check if number x =12 is greater than 5 and less than 20

X = 12

if x > 5 and x < 20:
  print(x,"is greater than 5 and less than 20")
else:
  print("False")

12 is greater than 5 and less than 20

In [6]:
#python script that initializes variable n by 5 and multiply it by 3 using assignment operator and prints the result

n = 5
n *= 3
print(n)

15

In [7]:
#python script to calculate the bitwise AND of a = 6 and b = 3

a = 6
b = 3
print(a & b)

2

In [10]:
#python to check if two variables a = 10 and b = 10 reference to the same object in memory

a = 10
b = 10
if a is b:
  print("'a' and 'b' reference to the same object in memory")
else:
  print("'a' and 'b ' do not reference to the same object in memory")

'a' and 'b' reference to the same object in memory

In [12]:
#pyhton script to check if the letter 'a' is present in the string 'apple'
str = "apple"
print("a" in "apple")

True

In [13]:
#python script to create the list of first five evn numbers and then print the list

even_numbers = []
for i in range(1,11):
  if i % 2 == 0:
    even_numbers.append(i)
  print(even_numbers)

[]
[2]
[2]
[2, 4]
[2, 4]
[2, 4, 6]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]

In [14]:
#python script to access the third elemnets from the given list and print it

fruits = ["apple","banana","cherry","date"]
fruits[2]

'cherry'

In [17]:
#python script to print the last three elements of given list

numbers = [1,2,3,4,5,6,7,8,9]
numbers[6::]
numbers[-3::]

[7, 8, 9]

In [19]:
#python script to concatenate two lists and print the resulting list

list1 = [1,2,3]
list2 = [4,5,6]
resulting_list = list1 + list2
resulting_list

[1, 2, 3, 4, 5, 6]

In [21]:
#python script to create a list and replicate it three times

lst = [0,1,2]
lst1 = lst*3
lst1

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [22]:
#python script to append a list

numbers = [1,2,3,4,5,6]
numbers.append(7)
numbers

[1, 2, 3, 4, 5, 6, 7]

In [23]:
#python script to remove and print the last element of given list

colors = ["red","green","blue","yellow"]
colors.pop()

'yellow'

In [24]:
#python script the first occurence of 4 from given list and print the updated list

numbers = [1,2,3,4,4,5,6]
numbers.remove(4)
numbers

[1, 2, 3, 4, 5, 6]

In [26]:
#pyhton script to sort the given list

numbers = [5,2,9,1,7]
numbers.sort()
numbers

[1, 2, 5, 7, 9]

In [28]:
#python script to create a tuple and print it

fruits = ["apple","banana","cherry"]
tuple(fruits)

('apple', 'banana', 'cherry')

In [29]:
#python script to print the second element of given tuple

colors = ("red","green","blue","yellow")
colors[1]

'green'