<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/session15python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Object Oriented Programming

In [8]:
class classname:
  def __init__(self,name):
    self.name = name

  def greet(self):
    print (f"Hello {self.name}")

In [ ]:
'''class ----- keyword is used to create a class
init ---- allows to initialize an object's attributes and perform any necessary setup or initialization tasks
self ---- keyword is used to access instance variables and methods in a class'''

In [11]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def info(self):
    print(f"My name is {self.name} and my age is {self.age}")


#calling
obj1 = Person("Jyoti",10)
obj2 = Person("Priya",20)

obj1.info()
obj2.info()

My name is Jyoti and my age is 10
My name is Priya and my age is 20

In [13]:
Person.info(obj1)
Person.info(obj2)

My name is Jyoti and my age is 10
My name is Priya and my age is 20

In [16]:
class Teacher:
  def __init__(self,name, subject, grade):
    self.name = name
    self.subject = subject
    self.grade = grade

  def info(self):
    print(f"{self.name} teaches {self.subject} to the class {self.grade}")



teacher1 = Teacher("Jyoti", "Maths", "10th")
teacher2 = Teacher("Harsh", "Science", "9th")


teacher1.info()
teacher2.info()

Jyoti teaches Maths to the class 10th
Harsh teaches Science to the class 9th