<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/session8python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#arithmetic operations on sets
#union  intersection  difference  symmetric difference

In [3]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
print(set1.intersection(set2))

{4, 5}

In [6]:
print(set1.difference(set2))

{1, 2, 3}

In [7]:
print(set1.symmetric_difference(set2))

{1, 2, 3, 6, 7, 8}

In [ ]:
#Loops(when we need to repeat a block of code multiple times)
#for loop(range is parsed)
#while loop

In [8]:
#for loop

list1 = [1,2,3,4]
for i in list1:
  print(i)

1
2
3
4

In [9]:
for i in list1:
  print(i*2)

2
4
6
8

In [10]:
#range(8) values are parsed till i-1--------0,1,2,3,4,5,6,7
#in range function we two parse two values- start vaue and end value
#if start value is not provided it will start from 0 by default

for i in range(11):
  print(2*i)

0
2
4
6
8
10
12
14
16
18
20

In [11]:
for i in range(1,11):
  print(2*i)

2
4
6
8
10
12
14
16
18
20

In [12]:
fruits = ["apple","banana","cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [19]:
for i in range(1,11):
  print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [20]:
t1 = (1,2,3,4)
for i in t1:
  print(i**2)

1
4
9
16

In [21]:
t2 = ("apple","banana","cherry")
for i in t2:
     print(i*3)

appleappleapple
bananabananabanana
cherrycherrycherry

In [22]:
for i in t2:
  print(i.upper())

APPLE
BANANA
CHERRY

In [23]:
for i in t2:
  print(i.lower())

apple
banana
cherry

In [24]:
for i in t2:
  print(i.capitalize())

Apple
Banana
Cherry

In [26]:
city = "bhiwani"
for alphabet in city:
  print(alphabet)

b
h
i
w
a
n
i

In [27]:
d = {"a":"apple","b":"ball","c":"cat"}
for keys in d:
  print(i)

a
b
c

In [28]:
for values in d.values():
  print(values)

apple
ball
cat

In [30]:
for key,value in d.items():
  print(f"key:{key}, value:{value}")

key:a, value:apple
key:b, value:ball
key:c, value:cat