<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/session7python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Sets: unordered collection of elements enclosed in curly braces, immutable,do not allow duplicate values, can not be indexed

l = [1,2,3,4]
print(l)

t = (1,2,3,4)
print(t)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [5]:
my_set1 ={1,2,3,4}
print(my_set1)

my_set2 = {1,2,3,4,5,1,2,3,4,5}
print(my_set2)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [6]:
fruits = {'apple','banana','cherry','APPLE','Apple'}
print(fruits)

{'apple', 'Apple', 'APPLE', 'banana', 'cherry'}

In [7]:
print(fruits)

{'apple', 'Apple', 'APPLE', 'banana', 'cherry'}

In [8]:
#set constructor

fruits = set()
print(fruits)

set()

In [9]:
letters = set('hello')
print(letters)

{'e', 'l', 'o', 'h'}

In [10]:
num = set(1234)
print(num)

TypeError: 'int' object is not iterable

In [12]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

In [13]:
print(type(fruits))

<class 'set'>

In [20]:
#set operations
#add
#delete

#add()
numbers = {1,2,3,4}
numbers.add(5)
print(numbers)

#delete
#if parsed element is not present in the set it will throw an error
numbers.remove(3)
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [17]:
numbers.remove(6)
print(numbers)

KeyError: 6

In [19]:
#discard
#if parsed element is not present in the set it does not throw any error
numbers.discard(6)
print(numbers)

{1, 2, 4, 5}

In [21]:
#membership
print(1 in numbers)
print(6 in numbers)

True
False

In [22]:
#remove the set elements
#clear()

numbers.clear()
print(numbers)

set()

In [23]:
#deleting a set
a = {1,2,3,4}
del a
print(a)

NameError: name 'a' is not defined