<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Practice questions on Tuples

In [2]:
# Question 1 Write a Python program to create a tuple with different data types (integers, strings, floats) and print the tuple.

my_tuple = (1,2,'a','b',2.5,2.005,'hello')
print(my_tuple)

(1, 2, 'a', 'b', 2.5, 2.005, 'hello')

In [3]:
# Question 2 Write a Python program to access an element from a tuple using its index.

my_tuple[3]

'b'

In [4]:
# Question 3 Write a Python program to find the length of a tuple using len().

len(my_tuple)

7

In [5]:
# Question 4 Write a Python program to concatenate two tuples using the + operator.

tuple_1 = (1,2,3)
tuple_2 = (4,5,6)
concatenated_tuple = tuple_1 + tuple_2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [6]:
# Question 5 Write a Python program to slice a tuple and print its first three elements.

concatenated_tuple[0:3]

(1, 2, 3)

In [7]:
# Question 6 Write a Python program to check if a specific element exists in a tuple using the in operator.

print(2 in concatenated_tuple)
print(7 in concatenated_tuple)

True
False

In [8]:
# Question 7 Write a Python program to count the occurrences of a specific element in a tuple using count().

tuple_3 = (1,2,3,4,5,2,2,2,2)
tuple_3.count(2)

5

In [9]:
# Question 8 Write a Python program to find the index of a specific element in a tuple using index().

tuple_3.index(2)

1

In [10]:
# Question 9 Write a Python program to convert a list into a tuple using tuple().

my_list = [1,2,3,4,5]
t = tuple(my_list)
print(t)

(1, 2, 3, 4, 5)

In [11]:
# Question 10 Write a Python program to create a tuple with a single element.

single_element_tuple = (1,)
print(single_element_tuple)

(1,)

In [12]:
type(single_element_tuple)

tuple

In [13]:
# Question 11 Write a Python program to unpack the elements of a tuple into individual variables.

tuple_4 = (1,2,3)
a,b,c = tuple_4
print(a)
print(b)
print(c)

1
2
3

In [14]:
# Question 12 Write a Python program to convert a tuple of strings into a single string using join().

tuple_5 = ('a','b','c','d')
string = ''.join(tuple_5)
print(string)

abcd

In [15]:
# Question 13 Write a Python program to create a nested tuple and access elements from the inner tuple.

nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
nested_tuple[2][2]

9

In [16]:
# Question 14 Write a Python program to find the maximum and minimum values in a tuple of integers.

tuple_6 = (6373,6474,6473,5743,3878)
print(max(tuple_6))
print(min(tuple_6))

6474
3878

In [17]:
# Question 15 Write a Python program to create a tuple and reverse its elements without using slicing

reversed_tuple = tuple(reversed(tuple_6))
print(reversed_tuple)

reversed_tuple = tuple(reversed(nested_tuple))
print(reversed_tuple)

(3878, 5743, 6473, 6474, 6373)
((7, 8, 9), (4, 5, 6), (1, 2, 3))

In [18]:
# Question 16 Write a Python program to find the sum of all elements in a tuple of integers.

numbers = (1,2,3,4,5,6,7,8,9,10)
total = sum(numbers)
print(total)

55

In [19]:
# Question 17 Write a Python program to iterate through a tuple and print each element.

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
# Question 18 Write a Python program to check if all elements in a tuple are the same.

same_elements = (1,1,1,1)

first_element = same_elements[0]

all_same = True
for i in same_elements:
  if i != first_element:
    all_same = False
    break

if all_same:
  print("All elements are same")
else:
  print("All elements are not same")

All elements are same

In [3]:
# Question 19 Write a Python program to sort a tuple of integers in ascending order (convert it to a list, then back to a tuple).

tuple_of_integers = (64,65,38,36,23,79,45,67)

list_of_integers = list(tuple_of_integers)

list_of_integers.sort()

sorted_tuple = tuple(list_of_integers)

print(sorted_tuple)

(23, 36, 38, 45, 64, 65, 67, 79)

In [4]:
# Question 20 Write a Python program to convert a tuple into a string by concatenating its elements.

tuple_of_strings = ('h', 'e','l','l','o')

string = ''.join(tuple_of_strings)
print(string)

hello