<a href="https://colab.research.google.com/github/priyatanwar018/python-practicals/blob/main/Variables%26Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Practice questions on variables and data types

In [ ]:
# Question 1 Write a program to assign values of different data types to variables and print them.

num1 =  int(-4)
print (num1)

num2 = float(-4)
print (num2)

string = str(10)
print (string)

boolean = bool(True)
print(boolean)

_list = [1,2,3,4,5]
print(_list)

_tuple = (1,2,3,4)
print(_tuple)

_set = {1,2,3,4,4,3,2,1}
print(_set)

-4
-4.0
10
True
[1, 2, 3, 4, 5]
(1, 2, 3, 4)
{1, 2, 3, 4}

In [ ]:
# Question 2 Swap two variables using a temporary variable

a = 10
b = 20

temp = a
a = b
b = temp

print(a)
print(b)

20
10

In [ ]:
# Question 3 Write a Python program to determie the type of variable after performing type conversion multiple times.

num = 10
print(type(num))

num_float = float(num)
print(type(num_float))

num_str = str(num)
print(type(num_str))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Question 4 convert an integer to a string and concatenate it with another string

num = 10
string = str(num)
print(string + " is a string")

10 is a string

In [ ]:
# Question 5 Write a Python program to check if a variable is an instance of a specific data type (e.g., check if it's an integer or a string).

num = 10
string = "10"
print(isinstance(num, int))
print(isinstance(string, str))

True
True

In [ ]:
# Question 6 Take two inputs from the user and perform arithmetic operations(add,subtract,multiply,divide)

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

add = num1 + num2
print("Sum is ",add)

subtract = num1 - num2
print("Difference is ",subtract)

multiply = num1 * num2
print("Product is ",multiply)

divide = num1 / num2
print("Quotient is ",divide)

Enter first number: 10
Enter second number: 4
Sum is  14
Difference is  6
Product is  40
Quotient is  2.5

In [ ]:
# Question 7 write a program to take a float input and round it to 2 decimal places

num = float(input("Enter a number: "))
print(round(num, 2))

Enter a number: 3.14267
3.14

In [ ]:
# Question 8 Write a python program to convert a float to an integer and an integer to a float

num1 = float(input("Enter a number: "))
print(int(num1))

num2 = int(input("Enter a number: "))
print(float(num2))

Enter a number: 3.14
3
Enter a number: 4
4.0

In [ ]:
# Question 9 Write a Python program to check the type of a variable and perform a type-specific operation.
#For example, if the variable is a list, print its length; if it's a string, print its uppercased version; if it's a number, print its square.

var1 = [1,2,3,4]
print(type(var1))
print(len(var1))

var2 = "hello"
print(type(var2))
print(var2.upper())

var3 = 5
print(type(var3))
print(var3 ** 2)

<class 'list'>
4
<class 'str'>
HELLO
<class 'int'>
25

In [ ]:
# Question 10 Create a constant variable and print it's value (using convention)

PI = 3.14  #PI is written in uppercase to indicate that it's a constant, this is known as using convention
print("The value of Pi is",PI)

The value of Pi is 3.14

In [ ]:
# Question 11 Write a Python program to calculate the area of a triangle given base and height

base = int(input("Enter the base of the triangle: "))
height = int(input("Enter the height of the triangle: "))
area = 0.5 * base * height
print(f"The area of triangle is {area} sq. units")

Enter the base of the triangle: 10
Enter the height of the triangle: 5
The area of triangle is 25.0 sq. units

In [ ]:
# Question 12 Write a Python program that takes a floating-point number and converts it to an integer by truncating the decimal part.
#Then, demonstrate how truncation differs from rounding by comparing the results

num = 3.75

truncated_num = int(num)

rounded_num = round(num)

print(f"This is original number: {num}")
print(f"This is truncated number: {truncated_num}")  #Truncate's the decimal part completely
print(f"This is rounded number: {rounded_num}")     # Round off the number to the nearest digit

This is original number: 3.75
This is truncated number: 3
This is rounded number: 4

In [4]:
# Question 13 Write a program that performs type casting between int, float, and string.

int_value = 44
float_value = 3.14
string_value = "10.67"

int_to_float = float(int_value)
print(int_to_float)

int_to_string = str(int_value)
print(int_to_string)

float_to_int = int(float_value)
print(float_to_int)

float_to_string = str(float_value)
print(float_to_string)

string_to_int = int(float(string_value))
print(string_to_int)

string_to_float = float(string_value)
print(string_to_float)

44.0
44
3
3.14
10
10.67

In [5]:
# Question 14 Create a program that swaps two variables without using any additional variables.

num1 = 10
num2 = 20

num1 = num1 + num2
num2 = num1 - num2
num1 = num1- num2

print(num1)
print(num2)

20
10

In [6]:
# Question 15 Write a program to calculate the compound interest.

p = float(input("Enter the principal amount: "))
r = float(input("Enter the rate of interest(in %): ")) /100
n = float(input("Enter the number of times interest is compounded per year: "))
t = float(input("Enter the time period in years: "))

a = p * (1 + (r/n) ** (n*t))

print(f"The compound interest is {a}")

Enter the principal amount: 15000
Enter the rate of interest(in %): 5
Enter the number of times interest is compounded per year: 1
Enter the time period in years: 1
The compound interest is 15750.0

In [9]:
# Question 16 Write a python script to check if a variable contains a number

var = 10
print(isinstance(var, (int, float)))

True

In [10]:
# Question 17 Create a program that takes input of two numbers and checks which one is greater.

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if num1 > num2:
  print(f"{num1} is greater than {num2}")
elif num2 > num1:
  print(f"{num2} is greater than {num1}")
else:
  print(f"{num1} is equal to {num2}")

Enter first number: 10
Enter second number: 20
20 is greater than 10

In [15]:
# Question 18 Write a program that stores a Boolean value and checks its truth value

user_input = input("Enter a boolean value(True/False): ")

if user_input == "True":
  boolean_value = True
elif user_input == "False":
  boolean_value = False
else:
  print("Invalid input! Please enter True or False")
  boolean_value = None


if boolean_value is not None:
  if boolean_value:
    print("The value is True")
  else:
    print("The value is False")

Enter a boolean value(True/False): True
The value is True

In [16]:
# Question 19 Write a program to get the ASCII value of a character

char = input("Enter a character: ")

if len(char) == 1:
  ascii_value = ord(char)
  print(f"The ascii value of {char} is {ascii_value}")
else:
  print("Please enter a single character")

Enter a character: d
The ascii value of d is 100

In [17]:
# Question 20 Take a year as input and check if it's a leap year or not

year = int(input("Enter a year: "))

if len(year) == 4:
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
  else:
    print(f"{year} is not a leap year")
else:
  print("Please enter a valid year")

Enter a year: 2025
2025 is not a leap year